.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 258px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 0 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 70px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 679px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 559px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 500px;
  height: 500px;
  min-height: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: initial;
  margin-left: auto;
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: -441px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-shape-1 {
    width: 412px;
    height: 412px;
  }

  .u-section-2 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: -353px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-2 .u-shape-1 {
    width: 316px;
    height: 316px;
  }

  .u-section-2 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: -257px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 296px;
    height: 302px;
    margin-right: 96px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 296px;
    height: 306px;
    margin-top: -253px;
    margin-left: 111px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 280px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
    height: 295px;
    margin-top: -242px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 774px;
}

.u-section-3 .u-text-1 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  width: 445px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 445px;
  margin: 4px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 61px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 306px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-3 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-5 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-3 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 579px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 689px;
}

.u-section-4 .u-group-1 {
  min-height: 399px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-4 .u-text-1 {
  width: 828px;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-4 .u-blog-1 {
  width: 1140px;
  height: auto;
  margin: -231px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 521px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-1 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  min-height: 58px;
  width: 257px;
  margin: -31px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px;
}

.u-section-4 .u-metadata-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 11px 22px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-2 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  min-height: 58px;
  width: 257px;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 15px;
}

.u-section-4 .u-metadata-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 11px 22px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-3 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  min-height: 58px;
  width: 257px;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 15px;
}

.u-section-4 .u-metadata-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 11px 22px 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 623px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-blog-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    width: 214px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    width: 214px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-4 {
    width: 214px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1025px;
  }

  .u-section-4 .u-text-1 {
    width: 660px;
  }

  .u-section-4 .u-blog-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-4 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: 520px;
  }

  .u-section-4 .u-blog-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-2 {
    width: 282px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: 265px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-4 .u-group-3 {
    width: 282px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: 265px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-4 .u-group-4 {
    width: 282px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: 265px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1785px;
  }

  .u-section-4 .u-group-1 {
    min-height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: 320px;
    font-size: 3rem;
    margin-top: 21px;
  }

  .u-section-4 .u-blog-1 {
    width: 340px;
    margin-top: -232px;
  }

  .u-section-4 .u-group-2 {
    width: 239px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-group-3 {
    width: 239px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-group-4 {
    width: 239px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 369px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 264px;
  min-width: 148px;
  margin: 0 auto;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 35px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 245px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 98px;
  }
}