@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono';
	font-weight: bold
}

#Logo{
	margin:5px 79% 13px 107px;
}

#menu-home{
	background-color:#FFD760;
	font-size: 20px;
}

#menu-home ul{
	list-style: none;
	background-color:#FFD760;
	max-width: 87%;
}

#menu-home ul li{
	display: inline;
	
}

#menu-home ul li a {
	text-decoration: none;
	color: #000;
	padding: 20px;
	display: inline-block;
	transition: background .4s;
}

#menu-home ul li a:hover{
	background-color: #9966CC ;
}

#menu-home ul li:nth-last-child(1){
	background-color:#ffb600s ;
	float: right;
}

#menu-home ul li:nth-last-child(2){
	background-color:#ffb600s;
	float: right;
}

.linha hr{
	border: none;
    border-top: 1px solid #CCC;
    margin: 40px auto 10px;
    max-width: 90%;
}

#imgilustrativa{
	margin: 50px 0 0 55px ;
	float: left;
}

#textone{
	width: 61%;
    float: right;
    padding: 21px;
    margin: 50px 40px 0 0;
    text-align: left;
    line-height: 20px;
    font-family: 'Roboto Mono';
}

#ajude{
	font-family: 'Roboto Mono';
    border-radius: 40px;
    padding: 60px;
    text-align: center;
    line-height: 26px;
    width: 90%;
    margin: 36% auto 5px auto;
    float: none;
    background-color: #f8e0ff;
}

#circulo {
	width: 102px;
    height: 100px;
    border-radius: 21%;
    overflow: hidden;
    float: left;
    margin: 91px 0 0 10%;
    transition: 0.3s ease;
}

#circulo:hover{
	transform: rotateY(180deg);
}

#circulo img{
	display: block;
	max-width: 100%;
}

#ajude h2{
	font-family: 'Roboto Mono';
	font-weight: bold;
	font-size: 40px;
    text-align: center;
    font-style: italic;
}

#ajudebot a{
	text-decoration: none;
    color: #000;
    padding: 6px 5%;
    display: inline-block;
    transition: background .4s;
    float: left;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid #8500ff;
    margin: -4% 0 0 9%;
    background-color: thistle;
}

#ajudebot a:hover{
	background-color: #9966CC ;
	color: #FFF;
}

#ajudebottwo a{
	text-decoration: none;
    color: #000;
    padding: 6px 5%;
    display: inline-block;
    transition: background .4s;
    float: right;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid #8500ff;
    margin: -4% 10% 0 0;
    background-color: thistle;
}

#ajudebottwo a:hover{
	background-color: #9966CC ;
	color: #FFF;
}

#ajudebottwo a:hover{
	background-color: #9966CC ;
	color: #FFF;
}

p{
	text-align: center;
    font-family: ;
    float: none;
    font-size: 51px;
    margin: 35px auto 31px;
    font-style: italic;
    font-family: 'Roboto Mono';
}

#slider {
    width: 80%;
    max-width: 48%;
    height: 25vw;
    max-height: 187px;
    margin: 35px 15% 11%;

    position: relative
}

#slider img{
    opacity: 0;

    position: absolute;

	width: 150%;
    height: 170%;    

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

#sliderdois{
	width: 501px;
    height: 25vw;
    max-height: 270px;
    max-width: 480px;
    margin: 0px 0 10px 15%;

    float: left;
    
    position: relative;
}

#sliderdois img{	
	position: absolute;

	width: 100%;
	height: 100%;
	object-fit: cover;
}
