/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

* {
    margin: 0%;
}

body {
    color: #5a5a5a;
}

h1 {
    font-size: 50px !important;
}

.slogan {
    font-size: 26px!important;
    margin-top: 0;
    margin-bottom: 0;
}

.ajude {
    text-align: center;
    margin: 0%;
}

.dicas {
    text-align: center;
    margin: 0%;
}

.dicas p {
    font-size: 45px;
    font-weight: bolder;
}


/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
    -------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}


/* rtl:begin:ignore */

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* rtl:end:ignore */


/* Featurettes
    ------------------------- */

.featurette-divider {
    margin: 3rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

.col-lg-4.levy {
    margin: 0 auto;
}

.col-4 {
    width: 30%;
    max-width: 50%;
    float: right;
    margin-left: 16%;
}

.icons {
    color: black;
    font-size: 45px;
}

a:hover {
    color: black;
}

a {
    color: #000;
}

.py-5 {
    padding-bottom: 0!important;
}

.my-4 {
    margin-bottom: 0!important;
}

.mb-4 {
    margin-bottom: 0!important;
}

.py-4 {
    padding-bottom: 0!important;
}

.iconfooter {
    font-size: 30px;
}

.logo {
    width: 182px;
    height: 78px;
    margin-left: 12px;
}

span.slogan {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

.pslogan {
    margin-bottom: 0;
}

.col-2 {
    display: table-cell;
    max-width: 20%;
    margin-left: 14%;
}

.col-22 {
    display: table-cell;
    max-width: 20%;
    margin-left: 2%;
}

.menus-nav {
    margin-right: -12px;
}

.col-12 {
    font-size: large;
    margin-right: 10%;
    margin-left: 10%;
}

.col-md-3.menus-nav.text-end {
    padding: 0%;
    margin: 0 0 0 0;
    max-width: 20%;
}

.col-md-3.menus-nav.text-end a {
    width: 1%;
}

#banner {
    background: url("../assets/background.jpg") no-repeat;
    height: 120%;
    display: flex;
}

#banner #title {
    margin-top: 20%;
    margin-left: 4%;
    color: #FFF;
    height: 10%;
    width: 100%;
    float: left;
}

#banner #title h4 {
    font-style: italic;
}

#banner #title {
    font-size: 45px;
    font-weight: bolder;
}


/* RESPONSIVE CSS
    -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/*---------------------BODY-------------------------*/

.title {
    text-align: center;
    margin-top: 2%;
}

.card {
    border-radius: 20px;
    padding-top: 3%;
    margin-left: 2%;
    box-shadow: 0px 5px 10px #000;
    display: inline-block;
}

/*-----------------IMG TABALA ANIMAL ----------------*/

.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 260px;
    width: 300px;
    object-fit: cover;
}