@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono';
	font-weight: bold
}

a{
    text-decoration: none !important;
    color: #000 !important;
}
#Logo{
	margin:5px 79% 13px 107px;
}

#menu-home{
	background-color:#FFD760;
	font-size: 20px;
}

#menu-home ul{
	list-style: none;
	background-color:#FFD760;
	max-width: 87%;
}

#menu-home ul li{
	display: inline;
	
}

#menu-home ul li a {
	text-decoration: none;
	color: #000;
	padding: 20px;
	display: inline-block;
	transition: background .4s;
}

#menu-home ul li a:hover{
	background-color: #9966CC ;
}

#menu-home ul li:nth-last-child(1){
	float: right;
}

#menu-home ul li:nth-last-child(2){
	float: right;
}

.linha hr{
	border: none;
    border-top: 1px solid #CCC;
    margin: 40px auto 10px;
    max-width: 90%;
}

#imgilustrativa{
	margin: 50px 0 0 55px ;
	float: left;
}

#textone{
	width: 61%;
    float: right;
    padding: 21px;
    margin: 50px 40px 0 0;
    text-align: left;
    line-height: 20px;
    font-family: 'Roboto Mono';
}

#ajude{
    border-radius: 40px;
    text-align: center;
    line-height: 26px;
    width: 90%;
    padding: 5% 3% 8% 3%;
    margin: 36% auto 5px auto;

    background-color: #f8e0ff;
}

#circulo {
	width: 6%;
    border-radius: 21%;
    overflow: hidden;
    float: left;
    margin: 8.5% 0 0% 13%;
    transition: 0.3s ease;
}

#circulo:hover{
	transform: rotateY(180deg);
}

#circulo img{
	display: block;
	max-width: 100%;
}

#ajude h2{
	font-family: 'Roboto Mono';
	font-weight: bold;
	font-size: 30px;
    text-align: center;
    font-style: italic;
}

#ajudebot a{
	text-decoration: none;
    color: #000;
    padding: 6px 5%;
    display: inline-block;
    transition: background .4s;
    float: left;
    font-size: 22px;
    border-radius: 20px;
    margin: -6% 0 4% 9%;
    background-color: thistle;
}

#ajudebot a:hover{
	background-color: #9966CC ;
	color: #FFF;
    transition: background .4s;
}

#ajudebottwo a{
	text-decoration: none;
    color: #000;
    padding: 6px 5%;
    display: inline-block;
    transition: background .4s;
    float: right;
    font-size: 22px;
    border-radius: 20px;
    margin: -6% 10% 0 0;
    background-color: thistle;
}

#ajudebottwo a:hover{
	background-color: #9966CC ;
	color: #FFF;
    transition: background .4s;
}

p{
	text-align: center;
    float: none;
    font-size: 51px;
    margin: 35px auto 31px;
    font-style: italic;
    font-family: 'Roboto Mono';
}

#slider {
    float: left;
    margin: 5% 0 10% 20%;
    position: relative;

}

#slider img{
    opacity: 0;
    position: absolute;
    margin: 2% 10%;
    border-radius: 19px;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}


h3{
    font-size: 19px;
    text-align: center;
    font-size: 40px !important;
    font-weight:999 !important;
}

#rodape{
    background-color: #F4B942;
    height: 10%;
    width: 100%;
    float: left;
    margin-top: 45%;
    padding: 4% 0% 0 0;
}
#rodape .slogan{
    float: left;
    width: 20%;
    margin-left: 10%;
}
#rodape .slogan h2{
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}
#rodape .nav{
    float: left;
    width: 25%;
    margin-left: 4%;
}
#rodape .nav ul{
    list-style: none;
    font-size: 18px;
    margin-right: 10%;
}
.nav ul .title{
    margin-bottom: 10%;
    list-style: none;
}

#rodape .slogan p{
    font-size: 18px;
    font-weight: bolder;
    float: left;
    margin: 6px auto;
}
#rodape .redes{
    padding: 1% 2%;
    float: left;
    background: #F4B942;
    width: 100%;
    text-align: center;
}
#rodape .redes i{
    display: inline-block;
    margin-right: 3%;
}
#rodape .redes .bi-facebook{
    font-size: 60px;
}
#rodape .redes .bi-facebook:hover{
    color: blue;
}
#rodape .redes .bi-twitter{
    font-size: 60px;
}
#rodape .redes .bi-twitter:hover{
    color: rgb(0, 174, 255);
}
#rodape .redes .bi-instagram{
    font-size: 60px;
}
#rodape .redes .bi-instagram:hover{
    color: rgb(243, 31, 232);
}
#rodape .redes .bi-github{
    font-size: 60px;
}
#rodape .redes .bi-github:hover{
    color: rgb(49, 49, 49);
}
